<template>
  <div class="main-home">
    <div class="container">
      <div class="col-sm-12">
        <ContentIndex />
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import ContentIndex from "@/components/Contentindex.vue";
import $ from "jquery";
export default {
  name: "HomeView",
  components: {
    ContentIndex,
  },
  mounted() {
    $("title").text("Amir Rudin | Web Developer");
  },
};
</script>
