<template>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center">{{ this.$route.meta.title }}</h2>
        <p class="text-center">{{ this.$route.meta.subtitle }}</p>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    title: function () {
      return this.$route.meta.title;
    },
  },
  mounted() {},
};
</script>
