<template>
  <div class="row">
    <div class="col-sm-4">
      Page: {{ meta.per_page }} Showing: {{ Number(meta.to) }} of
      {{ Number(meta.total) }}
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="mb-3 row">
            <label class="col-sm-6 col-form-label">Show per page</label>
            <div class="col-sm-6">
              <select
                class="form-select"
                aria-label="Default select example"
                @change="setPerpage($event)"
              >
                <option selected value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="mb-3 row">
            <label class="col-sm-6 col-form-label">Sort By</label>
            <div class="col-sm-6">
              <select
                class="form-select"
                aria-label="Default select example"
                @change="SetOrder($event)"
              >
                <template v-for="(b, index) in optpublished" :key="index">
                  <option :value="b.value">{{ b.text }}</option>
                </template>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-sm-3" v-for="(b, index) in items" :key="index">
      <img v-lazy="{ src: b.medium_image[0].url }" class="card-img-top" :alt="b.title" />
      <div class="card-body">
        <p class="text-muted">{{ moment(b.published_at).format("DD MMMM YYYY") }}</p>
        <p class="card-text">
          {{ $filters.strippedContent(b.content).substring(0, 150) + "..." }}
        </p>
      </div>
    </div>
    <div class="col-sm-12">
      <Paginator
        class="datatable-paginator"
        v-model="current_page"
        :rows="Number(meta.per_page)"
        :totalRecords="Number(meta.total)"
        @page="handlePagination($event)"
        v-if="!msgerro"
      >
        <template #start="slotProps">
          Page: {{ slotProps.state.page + 1 }} Showing: {{ Number(meta.to) }} of
          {{ Number(meta.total) }}
        </template>
      </Paginator>
    </div>
  </div>
</template>
<script>
import axios from "axios";
import moment from "moment";
var idLocale = require("moment/locale/id");
moment.locale("id", idLocale);
import Paginator from "primevue/paginator";

export default {
  components: {
    Paginator,
  },
  data() {
    return {
      items: [],
      meta: [],
      current_page: 1,
      per_page: 12,
      moment: moment,
      published: "-published_at",
      optpublished: [
        {
          text: "Old",
          value: "-published_at",
        },
        {
          text: "Newest",
          value: "published_at",
        },
      ],
    };
  },

  mounted() {
    this.getData();
  },
  methods: {
    setPerpage(event) {
      if (event !== undefined) {
        this.per_page = event.target.value;
      }
      this.getData();
    },
    SetOrder(event) {
      if (event !== undefined) {
        this.published = event.target.value;
        this.getData();
      }
    },
    getData(event) {
      let current_page = this.current_page;
      axios
        .get(
          "https://suitmedia-backend.suitdev.com/api/ideas?page[number]=" +
            current_page +
            "&page[size]=" +
            this.per_page +
            "&append[]=small_image&append[]=medium_image&sort=" +
            this.published
        )
        .then((response) => {
          const dataitem = response.data;
          this.items = dataitem.data;
          this.meta = {
            total: dataitem.meta.total,
            current_page: dataitem.meta.current_page,
            per_page: dataitem.meta.per_page,
            from: dataitem.meta.from,
            to: dataitem.meta.to,
          };
        });
    },
    handlePagination(val) {
      this.current_page = val.page + 1;
      this.getData(val);
    },
  },
};
</script>
<style>
@import "primevue/resources/primevue.min.css";
</style>
