<template>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark p-3"
    :class="{ 'is-hidden': !showHeader }"
  >
    <div class="container">
      <router-link href="javascript:void(0)" class="navbar-brand" to="/">
        <img src="/icon-1.png" alt="test-suitmedia" />
      </router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a
              href="javascript:void(0)"
              class="nav-link mx-2 active"
              aria-current="page"
              :class="{ active: this.$route.name == 'work' }"
              @click="setTitle('Work')"
              >Work</a
            >
          </li>
          <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link mx-2" @click="setTitle('About')"
              >About</a
            >
          </li>
          <li class="nav-item">
            <a
              href="javascript:void(0)"
              class="nav-link mx-2"
              @click="setTitle('Services')"
              >Services</a
            >
          </li>
          <li class="nav-item">
            <a
              href="javascript:void(0)"
              class="nav-link mx-2"
              @click="setTitle('Careers')"
              >Careers</a
            >
          </li>
          <li class="nav-item">
            <a
              href="javascript:void(0)"
              class="nav-link mx-2"
              @click="setTitle('Contact')"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
import $ from "jquery";
export default {
  data: () => ({
    showHeader: true,
    lastScrollPosition: 0,
    scrollOffset: 40,
  }),
  mounted() {
    this.lastScrollPosition = window.pageYOffset;
    window.addEventListener("scroll", this.onScroll);
  },
  beforeDestroy() {
    window.removeEventListener("scroll", this.onScroll);
  },
  methods: {
    // Toggle if navigation is shown or hidden
    onScroll() {
      if (window.pageYOffset < 0) {
        return;
      }
      if (Math.abs(window.pageYOffset - this.lastScrollPosition) < this.scrollOffset) {
        return;
      }
      this.showHeader = window.pageYOffset < this.lastScrollPosition;
      this.lastScrollPosition = window.pageYOffset;
    },
    setTitle(val) {
      this.$emit("setTitle", val);
      $("title").text(
        val == undefined ? "Amir Rudin | Web Developer" : +" | Web Developer"
      );
      setTimeout(() => {
        this.$router.push("" + val.toLowerCase() + "");
      }, 500);
    },
  },
};
</script>
