.navbar {
  transform: translateY(0);
  transition: transform 300ms linear;
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  padding: 10px 0;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
  will-change: background, transform;
  padding: 15px 0;

}

.navbar.is-hidden {
  transform: translateY(-100%);
}

.navbar-dark {
  background-color: rgba(255, 104, 0, .7) !important;
}
.navbar-brand img{
  height: 50px;
}
.wrapper{
  margin-top: 92px;
  clear: both;
  margin-bottom: 70px;
}
.banner-head{
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 56%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
  overflow: hidden;
}
.banner-head{
  background: url(./assets/banner.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 361px;
  position: relative;
  text-align: center;
}
.banner-head::before {
  content: '';
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.banner-head h2{
  position: absolute;
  top: 20%;
  left: 50%;
  color: #fff;
  z-index: 999;
}
.banner-head p{
  position: absolute;
  top: 30%;
  left: 47%;
  color: #fff;
  z-index: 999;
}
.main-home .card.col-sm-3{
  margin: 5px 27px 35px 0px;
  width: 22%;
  padding: 0;
}
.main-home .card.col-sm-3 img{
  max-height: 199px;
    overflow: hidden;
    height: 199px;
}
.card.col-sm-3 .card-text{
  font-size: 14px;
  text-align: justify;
}
.router-link-active{
  border-bottom: 2px solid #fff;
}