<template>
  <NavbarVue @setTitle="setTitle" />
  <div class="wrapper">
    <div class="banner-head">
      <!--<img src="/banner.png" alt="banner-test-suitmedia" class="banner" />-->
      <h2 class="text-center">{{ this.$route.meta.title }}</h2>
      <p class="text-center">{{ this.$route.meta.subtitle }}</p>
    </div>
    <router-view />
  </div>
</template>

<script>
import NavbarVue from "./components/Navbar.vue";
import $ from "jquery";
export default {
  components: {
    NavbarVue,
  },
  mounted() {
    this.setTitle();
  },
  methods: {
    setTitle(val) {
      $("title").text(
        val == undefined ? "Amir Rudin | Web Developer" : +" | Web Developer"
      );
    },
  },
};
</script>
<style lang="scss">
@import "./App.scss";
</style>
